@source "/home/meebuzo/github/base-app/app";
@source "/home/meebuzo/github/base-app/layers/social-app/app";
@source "/home/meebuzo/github/base-app/layers/shared-app/app";
@source "/home/meebuzo/github/base-app/layers/commerce-app/app";
@source "/home/meebuzo/github/base-app/layers/lists-app/app";
@source "/home/meebuzo/github/base-app/layers/departments-app/app";
@source "/home/meebuzo/github/base-app/layers/seller-dashboard-app/app";